<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  
  <%- include('./partials/nav.ejs') %>
  
  <div class="about content">
    <h2>About Us</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae temporibus perferendis a iste enim, praesentium inventore sunt atque! Nostrum qui accusamus reprehenderit, sequi delectus illum iste amet ratione inventore perferendis.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate delectus facere atque voluptas nihil dolorem eveniet sint labore eaque earum, repellat quam mollitia voluptatibus libero corrupti corporis quaerat accusantium accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, rem quisquam, aperiam, esse sed cupiditate reiciendis quasi architecto dicta eum magni maxime quas fugit quo velit! Sed minima accusantium nesciunt?
    </p>
  </div>

  <%- include('./partials/footer.ejs') %>

</body>
</html>